{% extends 'base.html' %}

{% block content1 %}	

	<p>
		<br><br><br>
	</p>
	<table style="background-color:aqua;margin: 0 auto;">
 	 <tr>
		<th style="border: 1px solid #000" width="100px" height="50px">Mã sản phẩm</th>
		<th style="border: 1px solid #000" width="100px" height="50px">Ngày xuất kho</th>
		<th style="border: 1px solid #000" width="100px" height="50px">Số lượng</th>
		<th style="border: 1px solid #000" width="100px" height="50px">Tên khách hàng</th>
		<th style="border: 1px solid #000" width="100px" height="50px">Giá bán</th>
  	  </tr>
  	</table>
	{% for item in exports %}
	<table style="margin: 0 auto;">
 	 <tr>
		<td width="100px" height="50px" style="text-align: center;">{{item.product_code}}</td>
		<td width="100px" height="50px" style="text-align: center;"">{{item.export_date}}</td>
		<td width="100px" height="50px" style="text-align: center;"">{{item.number}}</td>
		<td width="100px" height="50px" style="text-align: center;"">{{item.customer_name}}</td>
		<td width="100px" height="50px" style="text-align: center;"">{{item.sale_price}}</td>
  	  </tr>
  	</table>
	{% endfor %}
	<br>
	<div style= "text-align: center;font-size: 30px;color:rgb(84, 148, 127)" >
		<a href="{% url 'view_home' %}">Trở về trang chủ</a>
	</div>

{% endblock %}