{% extends 'base.html' %}

{% block content1 %}	

<div style= "text-align: center; font-size: 30px;" >
    <h2>Đăng nhập</h2>
</div>

<div class="myapp" style= "text-align: center;">
    <form action="", method="post">
        {% csrf_token %}
        User:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <input type="text" name= "user">
        <br>  
        <br>    
            Password: 
        <input type="password" name= "password">
        <br>
        <br>
        <input type="submit" value= "Xác nhận">
    </form>
</div>

{% endblock %}